<div class="container landing-container"
     DragNDrop
     (fileDropped)="onFileDropped($event)">
  <input type="file"
         #fileDropRef
         id="fileDropRef"
         [accept]="filesTypes"
         [attr.multiple]="!numfOfAllowedFiles || numfOfAllowedFiles > 1 ? '':null"
         (change)="fileBrowseHandler($event.target.files)" />
  <img src="../../../assets/cloud-2044823_960_720.png">

  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<div class="files-list">
  <div class="single-file container"
       *ngFor="let file of files; let i = index">
    <!-- <div class="file-icon"> -->
    <img src="../../../assets/Filetype-Docs-icon.png">
    <!-- </div> -->
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <!-- <button (click)="printThis(file)">View file data</button> -->
    </div>

    <div class="delete"
         (click)="deleteFile(i)">
      <img src="../../../assets/Recycle_Bin_Full.png">
    </div>
  </div>
  <div class="button-wrapper">
    <button *ngIf="files.length>0"
            (click)="summarizeFiles()">Summarize {{files.length > 1 ? 'files':'file'}}</button>
  </div>
</div>
<!-- <ng-container *ngIf="($data | async) as data">
  <app-table></app-table>
</ng-container> -->
