$themerColor: #1c8adb;

* {
  font-family: "Times New Roman", Times, serif;
}

.container {
  width: 50%;
  min-width: 450px;
}
.landing-container {
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: 2px dashed $themerColor;
  border-radius: 10px;
  position: relative;
  margin: 50px auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: $themerColor;
    padding: 8px 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
    margin: 10px;
  }

  img {
    width: 90px;
  }

  :hover {
    background-color: #9ecbec !important;
    opacity: 0.6;
  }
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border: 1px dashed $themerColor;
    border-radius: 12px;
    margin: 0.5rem auto;

    img {
      width: 50px;
    }

    .delete {
      cursor: pointer;

      img {
        width: 30px;
      }
    }

    display: flex;
    flex-grow: 1;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 80%;
    }
  }

  .button-wrapper {
    text-align: center;

    button {
      color: white;
      width: 140px;
      height: 35px;
      border-radius: 21.5px;
      background-color: $themerColor;
      outline: none;
      border: none;
      padding: 8px 16px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 575px) {
  .landing-container {
    margin: 20px auto;
    padding: 1rem;
    box-sizing: border-box;

    img {
      width: 60px;
    }
  }
}
