<div class="container landing-container"
     DragNDrop
     (fileDropped)="updateFilesList($event)">
  <input type="file"
         #fileDropRef
         id="fileDropRef"
         [accept]="filesTypes"
         [attr.multiple]="!numfOfAllowedFiles || numfOfAllowedFiles > 1 ? '':null"
         (change)="updateFilesList($event.target.files)" />
  <img src="../../../assets/cloud-2044823_960_720.png">

  <h3>Drag and drop files here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for files</label>
</div>
<div class="files-list">
  <div class="single-file container"
       *ngFor="let file of files; let i = index">
    <img src="../../../assets/Filetype-Docs-icon.png">
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
    </div>

    <div class="delete"
         (click)="deleteFile(i)">
      <img src="../../../assets/Recycle_Bin_Full.png">
    </div>
  </div>
  <div class="button-wrapper">
    <button *ngIf="files.length>0"
            (click)="sendFiles()">Upload {{files.length > 1 ? 'files':'file'}}</button>
  </div>
</div>

<div class="loader"
     *ngIf="loader$ | async">Data is loading...</div>
<ng-container *ngIf="$countries | async as countries">
  <ng-container *ngIf="countries.length > 0">
    <app-country-filter [countries]="countries"
                        (setCountry)="queryByCountry($event)"></app-country-filter>
    <app-data-table *ngIf="$clearings | async as clearings"
                    [clearings]="clearings"
                    [headers]="headers">
    </app-data-table>
  </ng-container>
</ng-container>
